@import 'base/_reset.css';
@import 'base/_variables.css';
@import 'base/_fonts.css';
@import 'components/_header.css';

body {
    background-color: var(--bg-color);
    font-family: var(--font-family-regular);
}


.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

