@import 'base/_reset.css';
@import 'base/_variables.css';
@import 'base/_fonts.css';
@import 'components/_header.css';
@import 'components/_banner.css';

body {
    background-color: var(--bg-color);
    font-family: var(--font-family-regular);
}

body a {
    text-decoration: none;
}


.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}


@media (max-width: 895px) {
    .container {
        overflow-x: hidden;
        padding: 0 16px;
    }
}