@import 'base/_reset.css';
@import 'base/_variables.css';
@import 'base/_fonts.css';
@import 'components/_header.css';
@import 'components/_banner.css';

body {
    background-color: var(--bg-color);
    font-family: var(--font-family-regular);
    overflow-x: hidden;
}

body a {
    text-decoration: none;
}


.container {
    width: 100%;
    max-width: min(1440px, calc(100vw - 16px));
    margin: 0 auto;
    /*max-width: 1440px;*/
    transition: all .2s ease-in-out;
}

/*@media (max-width: 990px) {*/
/*    .container {*/
/*        max-width: 768px;*/
/*    }*/
/*}*/