.banner {
    overflow: hidden;
    position: relative;
    height: 380px;
    width: 100vw;
    left: calc(-50vw + 50%);
    background: linear-gradient(-75deg, #FEE4FF, #EFF9FF);
    z-index: 1;
}

.banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 28%;
    background: linear-gradient(to bottom, transparent, #F7F9FA);
    z-index: -1;
}

.banner__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    transition: all .2s ease-in-out;
    padding: 0 60px;
}

.banner-breadcrumb {
    padding: 19.5px 0 0 0;
    display: flex;
    gap: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 80px;
}

.banner-breadcrumb__arrow svg {
    display: block;
}

.banner-breadcrumb a {
    color: var(--nav-banner-no-active-color);
    font-size: var(--little-font-size);
    white-space: nowrap;
    transition: all .2s ease;
}

.banner-breadcrumb a:not(.banner-breadcrumb__end_active):hover {
    color: var(--text-color);
}

.banner-breadcrumb__end_active {
    color: var(--nav-banner-active-color) !important;
}

.banner-title {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 25px;
}


.banner-title__text-h1 {
    font-size: var(--h1-font-size);
    font-family: var(--font-family-bold);
    margin-bottom: 25px;
}

.banner-title__text-h2 {
    font-size: var(--default-font-size);
    font-family: var(--font-family-regular);
}

.banner-title__button {
    cursor: pointer;
    border: none;
    font-size: var(--default-font-size);
    font-family: var(--font-family-medium);
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 8px;
    height: 48px;
    width: 231px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease;
}

.banner-title__button:hover {
    transform: scale(1.02);
}

.banner__container {
    position: relative;
}

.banner-img__line_design {
    z-index: 1;
    position: absolute;
    height: 1500px;
    width: 125.5px;
    background-color: var(--primary-color);
    opacity: 0.035;
    bottom: 0;
    transform: rotate(-57deg) translateY(70%);
}

.banner-img__line-one {
    left: -435px;
}

.banner-img__line-two {
    left: -110px;
}

.banner-img__line-three {
    left: 200px;
}

.banner-img__oval_design {
    z-index: 0;
    position: absolute;
    top: 0;
    background-color: var(--oval-color);
    border-radius: 50%;
    filter: blur(75px);
}

.banner-img__oval {
    width: 113px;
    height: 143px;
    left: 590px;
    top: 70px;
}

.banner-img-main, .banner-img-car {
    position: absolute;
}

.banner-img-main__circle-opacity_design {
    z-index: 3;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
            -45deg,
            #760135 0%,
            #FF55A1 100%
    );
    filter: blur(10px);
    opacity: 0.5;
}

.banner-img-main__circle-opacity_top {
    bottom: 170px;
    height: 48px;
    width: 48px;
    left: 850px;
}

.banner-img-main__circle-opacity_middle {
    width: 115px;
    height: 115px;
    bottom: 20px;
    left: 775px;
}

.banner-img-main__circle-opacity-bottom {
    right: 0;
}

.banner-img-main__circle_design {
    border-radius: 50%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(
            -45deg,
            #760135 0%,
            #FF55A1 100%
    );
}

.banner-img-main__circle_one {
    width: 61px;
    height: 61px;
    right: 0;
}

.banner-img-main__circle_two {
    right: 0;
}


.banner-img-car__circle_design {
    position: absolute;
    width: 330px;
    height: 330px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.banner-img-car__circle {
    right: 0;
    bottom: -100px;
}

.banner-img-car__car {
    position: absolute;
    bottom: -70px;
    right: 0;
}

.banner-img-car {
    bottom: 10px;
    left: 1260px;
}

@media (max-width: 895px) {

    .banner__container {
        padding: 0 16px;
    }
}

