.banner {
    overflow: hidden;
    height: 380px;
    z-index: 1;
    transition: height .5s ease;
}

.banner::before {
    content: '';
    position: absolute;
    height: 380px;
    width: 100vw;
    max-width: 100%;
    left: calc(-50vw + 50%);
    background: linear-gradient(-75deg, #FEE4FF, #EFF9FF);
}

.banner::after {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 10px;
    width: 100%;
    height: 104px;
    background: linear-gradient(to bottom, transparent, #F7F9FA);
    z-index: 0;
}

.banner__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    transition: all .2s ease-in-out;
    padding: 0 60px;
}

.banner-breadcrumb {
    padding: 19.5px 0 0 0;
    display: flex;
    gap: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 85px;
}

.banner-breadcrumb__arrow svg {
    display: block;
}

.banner-breadcrumb a {
    color: var(--nav-banner-no-active-color);
    font-size: var(--little-font-size);
    white-space: nowrap;
    transition: all .2s ease;
}

.banner-breadcrumb a:not(.banner-breadcrumb__end_active):hover {
    color: var(--text-color);
}

.banner-breadcrumb__end_active {
    color: var(--nav-banner-active-color) !important;
}

.banner-title {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 25px;
}


.banner-title__text-h1 {
    font-size: var(--h1-font-size);
    font-family: var(--font-family-bold);
    margin-bottom: 25px;
}

.banner-title__text-h2 {
    font-size: var(--default-font-size);
    font-family: var(--font-family-regular);
}

.banner-title__button {
    cursor: pointer;
    border: none;
    font-size: var(--default-font-size);
    font-family: var(--font-family-medium);
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 8px;
    height: 48px;
    width: 231px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease;
}

.banner-title__button:hover {
    transform: scale(1.02);
}

.banner__container {
    position: relative;
}

.banner-img__line_design {
    z-index: 2;
    position: absolute;
    height: 1500px;
    width: 125.5px;
    background-color: var(--primary-color);
    opacity: 0.035;
    bottom: 0;
    transform: rotate(-57deg) translateY(70%);
}

.banner-img__line_one {
    left: -435px;
}

.banner-img__line_two {
    left: -110px;
}

.banner-img__line_three {
    left: 200px;
}

.banner-img__oval_design {
    z-index: 0;
    position: absolute;
    top: 0;
    background-color: var(--oval-color);
    border-radius: 50%;
    filter: blur(75px);
}

.banner-img__oval {
    width: 113px;
    height: 143px;
    left: 585px;
    top: 65px;
}

.banner-img-main, .banner-img-car {
    position: absolute;
}

.banner-img-car {
    z-index: 2;
    bottom: 13px;
    left: 1300px;
    transition: all .5s ease;
}

.banner-img-main__circle-opacity_design {
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
            -45deg,
            #760135 0%,
            #FF55A1 100%
    );
    filter: blur(10px);
    opacity: 0.5;
}

.banner-img-main__circle-opacity_top {
    bottom: 175px;
    height: 48px;
    width: 48px;
    right: 360px;
}

.banner-img-main__circle-opacity_middle {
    width: 115px;
    height: 115px;
    bottom: 15px;
    right: 360px;
}

.banner-img-main__circle-opacity_bottom {
    width: 42px;
    height: 42px;
    top: 14px;
    right: 325px;
}

.banner-img-main__circle-opacity_right {
    z-index: -1;
    width: 115px;
    height: 115px;
    bottom: 135px;
    right: 2px;
}

.banner-img-main__circle_design {
    border-radius: 50%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(
            -45deg,
            #760135 0%,
            #FF55A1 100%
    );
}

.banner-img-main__circle_top {
    z-index: -1;
    width: 61px;
    height: 61px;
    left: -24px;
    bottom: -12px;
}

.banner-img-main__circle_bottom {
    z-index: -1;
    width: 43px;
    height: 43px;
    left: -48px;
    top: 10px;
}


.banner-img-car__circle_design {
    position: absolute;
    width: 330px;
    height: 330px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.banner-img-car__circle {
    right: -7px;
    bottom: -95px;
}

.banner-img-car__car {
    position: absolute;
    bottom: -95px;
    right: -7px;
}


@media (max-width: 1350px) {
    .banner-img-car {
        left: 1200px;
    }
}

@media (max-width: 1250px) {
    .banner-img-car {
        left: 1100px;
    }
}

@media (max-width: 1160px) {
    .banner-img-car {
        left: 1025px;
    }
}

@media (max-width: 1080px) {
    .banner-img-car {
        left: 1000px;
    }
}

@media (max-width: 1050px) {
    .banner-img-car {
        left: 1050px;
    }
}

@media (max-width: 895px) {
    .banner::after {
        margin-top: 80px;
    }

    .banner__container {
        padding: 0 16px;
    }

    .banner, .banner::before  {
        height: 328px;
    }

    .banner-title {
        top: 60px;
        gap: 24px;
    }

    .banner-breadcrumb,
    .banner-img-main__circle-opacity_right,
    .banner-img-main__circle_design {
        display: none;
    }

    .banner-img-main {

    }

    .banner-img__line_one {
        left: -586px;
    }

    .banner-img__line_two {
        left: -320px;
    }

    .banner-img__oval {
        left: 306px;
        top: 8px;
    }

    .banner-img-car {
        bottom: -58px;
        left: 920px;
    }
}

@media (max-width: 768px) {
    .banner-img-car {
        left: 920px;
    }

}

@media (max-width: 768px) {
    .banner-img-car {
        left: 902px;
    }
}

@media (max-width: 750px) {
    .banner-img-car {
        left: 885px;
    }
}

@media (max-width: 730px) {
    .banner-img-car {
        left: 850px;
    }
}


@media (max-width: 700px) {
    .banner-img-car {
        left: 800px;
    }
}


@media (max-width: 650px) {
    .banner-img-car {
        left: 770px;
    }
}


@media (max-width: 580px) {
    .banner-title__button,
    .banner-img__oval_design,
    .banner::after {
        display: none;
    }

    .banner-img-main__circle_design {
        display: block;
    }

    .banner, .banner::before  {
        height: 450px;
    }

    .banner-title {
        top: auto;
    }
    .banner-breadcrumb {
        margin-bottom: 40px;
        display: flex;
    }

    .banner-title__text-h1 {
        font-size: var(--h1-mobile-font-size);
    }

    .banner-img-car {
        width: 250px;
        height: 100%;
        top: 177px;
        left: 50%;
        transform: translateX(-50%);
    }

    .banner-img-car__circle {
        width: 250px;
        height: 250px;
    }

    .banner-img-car__car {
        width: 325px;
        height: 270px;
    }

    .banner-title__text-h1 {
        margin-bottom: 15px;
    }

    .banner-img-main__circle-opacity_top {
        width: 31.5px;
        height: 31.5px;
        top: 15px;
        left: -60px;
    }

    .banner-img-main__circle-opacity_middle {
        width: 75.5px;
        height: 75.5px;
        top: 70px;
        left: -115px;
    }

    .banner-img-main__circle-opacity_bottom {
        width: 27.5px;
        height: 27.5px;
        top: 165px;
        left: -30px;
    }

    .banner-img-main__circle-opacity_right {
        display: block;
        width: 75.5px;
        height: 75.5px;
        top: -30px;
        left: 170px;
    }

    .banner-img-main__circle_top {
        height: 40px;
        width: 40px;
        top: 111px;
        left: 234px;
    }

    .banner-img-main__circle_bottom {
        height: 28px;
        width: 28px;
        top: 167px;
        left: 221px;
    }

    .banner-img__line_design {
        transform: rotate(-57deg) translateY(100%);
    }

    .banner-img__line_one {
        left: -1420px;
    }
    .banner-img__line_two {
        left: -1095px;
    }
    .banner-img__line_three {
        left: -770px;
    }

    .banner-img-main__color_design {
        z-index: -1;
        position: absolute;
        width: 273px;
        height: 273px;
        filter: blur(100px);
        opacity: 0.5;
        border-radius: 50%;
    }

    .banner-img-main__color_left {
        background-color: var(--blur-pink-color);
        top: 123px;
        left: 183px;
    }
    .banner-img-main__color_right {
        background-color: var(--blur-blue-color);
        top: 123px;
        left: -183px;
    }
}

@media (max-width: 425px) {

    .banner-img-car {
        width: 216px;
        top: 165px;
    }

    .banner-img-car__circle {
        width: 216px;
        height: 216px;
    }

    .banner-img-car__car {
        width: 270px;
        height: 206px;
    }

    .banner-img-main__circle-opacity_top {
        top: 48px;
    }

    .banner-img-main__circle-opacity_middle {
        top: 120px;
        left: -100px;
    }

    .banner-img-main__circle-opacity_bottom {
        top: 201px;
        left: -28px;
    }

    .banner-img-main__circle-opacity_right {
        top: 31px;
        left: 142px;
    }

    .banner-img-main__circle_top {
        top: 162px;
        left: 201px;
    }

    .banner-img-main__circle_bottom {
        top: 203px;
        left: 184px;
    }
}

/*@media (max-width: 360px) {*/
/*    .banner-img-car__circle {*/
/*        width: 216px;*/
/*        height: 216px;*/
/*    }*/

/*    .banner-img-car__car {*/
/*        width: 270px;*/
/*        height: 206px;*/
/*    }*/
/*}*/