.car-choice {
    padding: 40px 173px 0 173px;
    transition: all .5s ease;
}

.car-choice__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.car-choice__title {
    font-size: var(--h1-car-choice-font-size);
    font-family: var(--font-family-medium);
    color: var(--black-color);
}

.car-choice__button {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--white-color);
    width: 256px;
    height: 40px;
    border-radius: 4px;
    color: var(--primary-color);
    font-family: var(--font-family-medium);
    font-size: var(--default-font-size);
    transition: transform 0.3s ease;
}

.car-choice__button:hover {
    transform: scale(1.01);
}

@media (max-width: 1300px) {
    .car-choice {
        padding: 40px 100px 0 100px;
    }
}

@media (max-width: 920px) {
    .car-choice {
        padding: 40px 60px 0 60px;
    }
}


@media (max-width: 895px) {
    .car-choice {
        padding: 40px 0 0 0;
    }
}

@media (max-width: 640px) {
    .car-choice {
        padding: 40px 0 0 0;
    }

    .car-choice__main {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: normal;
        gap: 24px;
    }

    .car-choice__title {
        font-size: var(--h1-mobile-font-size);
    }
}

@media (max-width: 580px) {
    .car-choice {
        padding: 32px 0 0 0;
    }
}