.header {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.header::after {
    z-index: -1;
    height: 120px;
    position: absolute;
    content: "";
    left: 0;
    background-color: var(--white-color);
    max-width: 100vw;
    width: 100%;
}

.header a {
    font-size: var(--default-font-size);
    white-space: nowrap;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-bottom {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 68px;
}

.header-bottom__left {
    margin-right: 24px;
    grid-column: 1;
}

.header-bottom__logo svg {
    display: block;
}

.header-bottom__tabs {
    grid-row: 1;
    grid-column: 2;
}

.header-bottom__right {
    grid-column: 3;
    justify-content: flex-end;
}

.header-bottom__mobile_menu {
    margin-right: 3.75px; /* =((( */
    position: relative;
    border-radius: 99px;
    background-color: var(--black-color);
    height: 2.5px;
    width: 22.5px;
}

.header-bottom__mobile_menu::after {
    position: absolute;
    content: '';
    border-radius: 99px;
    background-color: var(--black-color);
    height: 2.5px;
    width: 22.5px;
    margin-top: 8.5px;
}

.header-bottom__mobile_menu::before {
    position: absolute;
    content: '';
    border-radius: 99px;
    background-color: var(--black-color);
    height: 2.5px;
    width: 22.5px;
    margin-top: -8.5px;
}

.header-bottom__menu, .header-bottom__number{
    display: none;
    cursor: pointer;
    padding: 10px 0;
}

.header-bottom__number {
    cursor: pointer;
    padding: 10px 0;
}


.header-top {
    height: 52px;
}

.header-top::before {
    position: absolute;
    content: "";
    left: calc(-50vw + 50%);
    top: 52px;
    height: 1px;
    width: 100vw;
    max-width: 100%;
    background: var(--stick-color);
}

.header-top a {
    color: var(--no-active-color);
}

.header-top__nav-link, .header-top__info-link {
    transition: color .2s ease;
}

.header-top__nav-link:not(.header-top__nav-link_active):hover, .header-top__info-link:not(.header-top__nav-link_active):hover {
    color: var(--text-color);
}

.header-top__left, .header-top__right, .header-top__nav,
.header-top__info, .header-top__location, .header-bottom__left,
.header-bottom__right, .header-bottom__order-call, .header-bottom__auth,
.header-bottom__tabs {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header-top__left, .header-top__right, .header-top__nav,
.header-top__info, .header-bottom__right {
    gap: 16px;
}


.header-top__location {
    gap: 4px;
    transition: color .2s ease;
}

.header-top__location svg path,
.header-bottom__order-call svg path,
.header-bottom__auth svg path {
    transition: stroke .2s ease;
}

/*.header-bottom__left {*/
/*    gap: 24px;*/
/*}*/

.header-bottom__tabs-link {
    transition: all .2s ease;
    color: var(--bottom-black-color);
}

.header-top__right a {
    transition: color .2s ease;
}

.header-bottom__tabs-link:hover,
.header-top__right a:hover,
.header-bottom__right a:hover,
.header-bottom__number a:hover {
    color: var(--hover-color) !important;
}

.header-top__location:hover path,
.header-bottom__order-call:hover path,
.header-bottom__auth:hover path {
    stroke: var(--hover-color);
}

.header-bottom__tabs-link {
    margin-right: 16px;
}

.header-bottom__tabs-link:nth-last-of-type(2) {
    margin-right: 4px;
}

.header-top__hr {
    height: 20px;
    width: 1px;
    background-color: var(--stick-color);
}

.header-top__phone {
    font-family: var(--font-family-medium);
    color: var(--primary-color) !important;
}

.header-top__location, .header-top__lang {
    color: var(--text-color) !important;
}

.header-bottom__right a,
.header-bottom__number a {
    font-family: var(--font-family-medium);
    transition: color .2s ease;
}


.header-bottom__order-call {
    color: var(--seccess-color);
    gap: 8px;
}

.header-bottom__auth {
    color: var(--primary-color);
    gap: 8px;
}


.header-bottom__tabs-open svg {
    cursor: pointer;
    display: block;
}

.header-top__nav-link_active {
    position: relative;
    font-family: var(--font-family-medium);
    color: var(--active-color) !important;
}

.header-top__nav-link_active::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -19px;
    height: 2px;
    width: 100%;
    cursor: default;
    background: var(--primary-color);
}

@media (max-width: 1380px) {
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(2 of .header-bottom__tabs-link) {
        display: none;
    }
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(3 of .header-bottom__tabs-link) {
        margin-right: 4px;
    }
}

@media (max-width: 1310px) {
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(3 of .header-bottom__tabs-link) {
        display: none;
    }
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(4 of .header-bottom__tabs-link) {
        margin-right: 4px;
    }
}

@media (max-width: 1210px) {
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(4 of .header-bottom__tabs-link) {
        display: none;
    }
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(5 of .header-bottom__tabs-link) {
        margin-right: 4px;
    }
}

@media (max-width: 1090px) {
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(5 of .header-bottom__tabs-link) {
        display: none;
    }
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(6 of .header-bottom__tabs-link) {
        margin-right: 4px;
    }
}

@media (max-width: 1010px) {
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(6 of .header-bottom__tabs-link) {
        display: none;
    }
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(7 of .header-bottom__tabs-link) {
        margin-right: 4px;
    }
}

@media (max-width: 935px) {
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(7 of .header-bottom__tabs-link) {
        display: none;
    }
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(8 of .header-bottom__tabs-link) {
        margin-right: 4px;
    }
}

@media (min-width: 896px) {
    .header-top__hr_mobile, .header-bottom-mobile__tabs, .header-bottom__tabs-link_mobile {
        display: none;
    }
}

@media (max-width: 895px) {
    .header-top__info, .header-top__right,
    .header-top__hr_pc, .header-top__nav-link_active::after {
        display: none;
    }

    .header {
        padding: 0 16px;
        height: 167px;
    }

    .header::after {
        height: 167px;
    }

    .header-bottom {
        position: relative;
    }

    .header-bottom::before {
        position: absolute;
        content: "";
        bottom: 52px;
        height: 1px;
        width: 100%;
        background: var(--stick-color);
    }

    .header-top__left, .header-top__nav, .header-top__hr_mobile {
        height: 100%;
    }

    .header-top {
        height: 53px;
        justify-content: center;
    }

    .header-top__left {
        width: 100%;
    }

    .header-top__nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 0;
    }

    .header-top__nav a {
        text-align: center;
        width: 140px;
    }

    .header-top a {
        color: var(--no-active-mobile-color);
    }

    .header-top__nav-link_active {
        color: var(--active-mobile-color) !important;
    }

    .header-bottom {
        grid-template-columns: 200px 1fr auto;
        height: fit-content;
    }

    .header-bottom__left {
        height: 62px;
        margin: 0;
        grid-column: 1;
    }

    .header-bottom__tabs {
        height: 52px;
        grid-row: 2;
        grid-column: 1;
    }

    .header-bottom__right {
        margin-right: 16px;
        justify-self: end;
        grid-column: 2;
        justify-content: normal;
    }

    .header-bottom__menu {
        justify-self: end;
        grid-column: 3;
        display: block;
    }

    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(-n+9):nth-last-child(n+7) {
        display: block;
    }
    .header-bottom__tabs .header-bottom__tabs-link:nth-last-child(-n+9):nth-last-child(n+7) {
        margin-right: 16px;
    }

    .header-bottom__tabs-link_mobile {
        margin-right: 4px;
    }
}

@media (max-width: 580px) {
    .header {
        height: 223px;
    }

    .header::after {
        height: 223px;
    }

    .header-bottom {
        grid-template-columns: 150px auto;
        grid-template-rows: auto auto;
    }


    .header-bottom::before {
        left: calc(-50vw + 50%);
        width: 100vw;
        bottom: 56px;
    }

    .header-bottom::after {
        position: absolute;
        content: "";
        bottom: 108px;
        height: 1px;
        left: calc(-50vw + 50%);
        width: 100vw;
        background: var(--stick-color);
    }

    .header-bottom__order-call {
        display: none;
    }

    .header-bottom__menu {
        grid-column: 2;
    }

    .header-bottom__right {
        height: 56px;
        grid-row: 3;
        grid-column: 2;
        justify-self: end;
        margin: 0;
    }

    .header-bottom__number, .header-bottom__number a {
        display: flex;
    }

    .header-bottom__number {
        grid-column: 1;
        grid-row: 3;
    }

    .header-bottom__tabs {
        padding-right: 28px;
        overflow-x: auto;
        width: 100vw;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .header-bottom__tabs::-webkit-scrollbar {
        height: 0;
        background: transparent;
    }

    .header-bottom__tabs::-webkit-scrollbar-thumb {
        background: transparent;
    }

    .header-bottom__tabs::-webkit-scrollbar-track {
        background: transparent;
    }

    .header-bottom__tabs .header-bottom__tabs-link:not(.header-bottom__tabs-link_mobile) {
        display: block !important;
        margin-right: 16px !important;
    }
}
